<!DOCTYPE html>
<html>
  <head>
    <title>Extractor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to "Sair", signout_path, id: "sign_out" %>
      <h2>Olá <%= current_user.name %>, você está logado!</h2>
    <% else %>
      <%= link_to "Entre com sua conta do Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>

    <% flash.each do |name,msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
